.container{
    /* position: absolute;
    top:15vw;
    left:40vw; */
}
.container .login-form{
    margin-top: 10%;
}
.shadow{
    border-radius: 10px;
}
.display-inline-block{
    max-width: 400px;
    max-height: 20px;
}
i{
    font-size: 30px;
}